$main-color: #645f55a9;
$black-color: #292B2E;
$font-color: #333030;
$font-line: #c7c3c3;
$white-color: #eceaea;
$backg-color: #ffffff;
$blue-color: #2546BC;
$sky-blue-color: #ddc3a5;
/* $sky-blue-color: #00A5FF; */
$green-color: #02D8DE;
$red-color: #c73d3d;

