.promo {
  min-height: 100vh;
  position: relative;
  .container {
    position: relative;
  }
  &__wrapper {
    position: relative;
    min-height: 900px;
    background-color: $font-lite;
    color: $font-color;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    opacity: 1;
  }

  
}
