.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    &_fz9 {
        font-size: 9px;
        line-height: 9px;
        font-weight: 300;      
    }
    &_fz10 {
        font-size: 10px;
        line-height: 11px;
        font-weight: 300;      
    }
    &_fz12 {
        font-size: 12px;
        line-height: 12px;
        font-weight: 700;      
    }     

    &_fz14 {
        font-size: 14px;
        line-height: 14px;
    }
    &_fz18 {
        font-size: 18px;
        line-height: 18px;
        
    }
    &_fz24 {
        font-size: 24px;
        
    }
    &_fz36 {
        font-size: 36px;
    }
    &_fz40 {
        font-size: 40px;
    }
    &_fz150 {
        font-size: 150px;
        color: $blue-color;
        line-height: 100px;
        transition: all 1s ease;
        cursor: pointer;
        &:hover {
            color: $red-color;
            text-shadow: 10px 1px 5px rgba(99, 94, 94, 0.788); 
        }
    }
    &__section-title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            top:-6px;
            left:50%;
            transform: translateX(-50%);
        }

    }

}