@mixin before_circle {
    &:before{
        content: '';
        position: absolute;        
        z-index: -1;
        top: 0;
        right: 0;
        width: 36px;
        height: 36px;
        background: url('../img/svg/star-white-no-active.svg') no-repeat 50%/cover ;
        
        


    }
}

@mixin before_circle_active {
    &:before{
        content: '';
        position: absolute;        
        z-index: -1;
        top: 0;
        right: 0;
        width: 36px;
        height: 36px;
        background: url('../img/svg/star-blue-active.svg') no-repeat 50%/cover ;
        


    }
}


